body{
	font-family: 'Exo 2', sans-serif;
	background-color: #EDEFF0;
	margin-bottom: 50px;
	background: #272822 url('../images/components/Melamine-wood-006.png') 0 0;
}
.container--modificator{
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	background: url('../images/components/people_chat.png') no-repeat center bottom;
	background-size: 45%;
}
